services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: petamagang_app
    volumes:
      - ./:/var/www/html
    depends_on:
      - mysql
      - redis

  nginx:
    image: nginx:stable
    container_name: petamagang_nginx_server
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  mysql:
    image: mysql:8.0
    container_name: petamagang_mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: PetaMagang
      MYSQL_USER: uhnsugriwa
      MYSQL_PASSWORD: sugriwamagang
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:latest
    container_name: petamagang_redis_cache
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: petamagang_phpmyadmin
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8080:80"
    depends_on:
      - mysql

volumes:
  mysql_data: